.main-container{
    display: flex;
}

.navbar{
    width: 30%;
}

.main{
    width: 70%;
}

.footer{
    background-color: #001529;
    text-align: center;
}

.footer-icon a {
    padding: 15px;
}

.home-heading-container{
    display: flex;
    justify-content: space-between;
}