.main-container{
    display: flex;
}

.navbar{
    width: 30%;
}

.main{
    width: 70%;
}

.footer{
    background-color: #001529;
    text-align: center;
}

.footer-icon a {
    padding: 15px;
}

.home-heading-container{
    display: flex;
    justify-content: space-between;
}

.crypto-image{
    width: 22px;
    height: auto;
}

.search-crypto{
    width: 300px;
    margin: auto;
    padding: 55px;
}

.coin-detail-container-heading{
    text-align: center;
}

.coin-detail-container{
    padding: 25px;
}
.select-timeperiod{
    width: 200px;
}

.stats-container{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}

.coin-stats{
    display: flex;
    justify-content: space-between;
}

.coin-stats-name-icon{
    padding-right: 25px;
}



.coin-desc-link{
    display: flex;
    justify-content: space-between;
}

.coin-desc{
    width: 650px;
}
